@font-face {
  font-family: Helvetica-Regular;
  src: url(fonts/helvetica/Helvetica.woff);
}

@font-face {
  font-family: Helvetica-Bold;
  src: url(fonts/helvetica/Helvetica-Bold.woff);
}

@font-face {
  font-family: TireSwingBb-Bold ;
  src: url(fonts/tireswing/TireSwingBB-Bold.woff2);
}

@font-face {
  font-family: Bold-RegularMasiva ;
  src: url(fonts/masiva/Masiva-Bold.woff2);
}

@font-face {
    font-family: "Eina03-SemiBold";
    src: url("https://db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.eot");
    src: url("https://db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.svg#Eina03-SemiBold")format("svg");
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=DM+Serif+Text:ital@0;1&family=Imperial+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
}

.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ffffff;
  height: 9234px;
  position: relative;
  overflow: hidden;
}

/*FORMULARIO*/

form {
 
  margin: 0 auto;
  width: 60%;
  padding: 1em;
  padding-left: 20%;
  background: #efefef;
}

ul {
  list-style: none;
  padding: 9;
  margin: 0;
}

form li + li {
  margin-top: 0em;
  
}

label {
  font-size:larger;
  font-family: "Inter-Bold", sans-serif;
  font-weight: bold;
  display: inline-block;
  width: 90px;
  text-align: left;
  padding-top: 1.5em;
}

input,
textarea {
  font: 1em sans-serif;
  width: 75%;
  height: 40px;
  box-sizing: border-box;
 border-radius: 0.2em;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-top: 2em;
  padding-left:8%;
}

button {
  color: #ffffff;
  font-family: "Eina03SemiBold", sans-serif;
  font-size: medium;
  text-align: center;
  background:#753EF4;
  margin-left: 0.5em;
  border-radius: 0.2em;
  width: 60%;
  height: 50px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background-color: #efefef;
  padding: 30px 20px;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  color: black;
  max-width: 300px;
  width: 80%;
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content button {
  
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #753EF4;;
  color: white;
  font-family: "Inter-Bold", sans-serif;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
  transition: background 0.3s;
}

.modal-content button:hover {
  background-color: #753EF4;;
}

/* TITULO, SUBTITULO Y FONDOS*/

.imagen-principal {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 18.000000715255737%,
      rgba(0, 0, 0, 0.73) 51.99999809265137%
    ),
    linear-gradient(to left, rgba(44, 44, 44, 0.49), rgba(44, 44, 44, 0.49));
  width: 100%;
  height: 951px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.fondo-1 {
  background: #ffe6c7;
  width: 100%;
  height: 1832px;
  position: absolute;
  
  top: 2508px;
}
.fondo-2 {
  background: #dcffc7;
  width: 100%;
  height: 1950px;
  position: absolute;

  top: 5775.49px;
}
.fondo-3 {
  background: #fffdc7;
  width: 100%;
  height: 1435px;
  position: absolute;

  top: 4340px;
}
.logo-ly-v {
    width: 20%;
  position: absolute;
  left: 40%;
  top: 20px;
  aspect-ratio: 218.36/123;
}
.logo-zanahoria-2 {
  width: 60%;
  height: 154px;
  position: absolute;
  left: 20%;
  top: 233px;

  aspect-ratio: 931.41/154;
}
.group-18 {
  height: auto;
  position: absolute;
  width: 102%;
  left: -12px;
  top: 775.48px;
  overflow: visible;
}
.subtitulo-principal {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  letter-spacing: 0.06em;
  font-weight: 400;
  position: absolute;
  left: 122px;
  top: 631px;
  width: 573px;
  height: 170px;
}
.subtitulo-principal-span {
  font-family: "Helvetica-Regular", sans-serif;
}
.subtitulo-principal-span2 {
  font-family: "Helvetica-Bold", sans-serif;
  font-weight: 700;
}
.titulo-principal {
  color: #ffffff;
  text-align: center;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 42px;
  font-weight: 700;
  position: absolute;
  left: 328px;
  top: 444px;
  width: 704px;
  height: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conseguir-descuento {
  color: #ffffff;
  text-align: center;
  font-family: "Eina03SemiBold", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  left: 766px;
  top: 670px;
  width: 412px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leyendas-y-videojuegos {
  color: #ffffff;
  text-align: left;
  font-family: "Bold-RegularMasiva", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 104.06px;
  top: 8608px;
  width: 498.62px;
  height: 46px;
}
.datoseric {
  color: #ffffff;
  text-align: left;
  font-family: "Bold-RegularMasiva", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 104.06px;
  top: 8701px;
  width: 392.83px;
  height: 149px;
}

.parrafo-1 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  letter-spacing: 0.06em;
  font-weight: 400;
  position: relative;
  width: 804px;
  height: 180px;
}
.parrafo-1-span {
  font-family: "Inter-Regular", sans-serif;
}

.parrafo-1-a {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  letter-spacing: 0.06em;
  font-weight: 400;
  position: relative;
  width: 804px;
  height: 138px;
}
.parrafo-1-a-span {
  font-family: "Inter-Regular", sans-serif;
}

.parrafo-2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  letter-spacing: 0.06em;
  font-weight: 400;
  position: absolute;
  left: 3.99px;
  top: 654.6px;
  width: 390px;
  height: 394px;
}
.parrafo-2-a {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  letter-spacing: 0.06em;
  font-weight: 400;
  position: absolute;
  left: 612.01px;
  top: 654.75px;
  width: 404px;
  height: 297px;
}
.parrafo-2-a-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.parrafo-2-a-span2 {
  font-family: "Inter-Regular", sans-serif;
}

.parraform {
  color: #000000;
  text-align: left;
  font-family: "Helvetica-Bold", sans-serif;
  font-size: 40px;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: relative;
  width: 80%;
  height: 92px;
}

.div {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 80.47%;
  left: 16.2%;
  width: 3.33%;
  bottom: 76.56%;
  top: 17.98%;
  height: 5.46%;
}

.inscr-bete-ya {
  color: #ffffff;
  text-align: center;
  font-family: "Eina03SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  right: 34.23%;
  left: 34.01%;
  width: 31.76%;
  bottom: 8.52%;
  top: 85.62%;
  height: 5.86%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.el-juego-de-mesa {
  color: #ffffff;
  text-align: center;
  font-family: "TireSwingBb-Bold", sans-serif;
  font-size: 55px;
  font-weight: 700;
  position: absolute;
  left: 387.89px;
  top: 2475px;
  width: 630.42px;
  height: 75.05px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rentabilidad {
  color: #ffffff;
  text-align: center;
  font-family: "TireSwingBb-Bold", sans-serif;
  font-size: 55px;
  font-weight: 700;
  position: absolute;
  left: 384.71px;
  top: 4300px;
  width: 618.96px;
  height: 74.76px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preguntas-frecuentes {
  color: #ffffff;
  text-align: center;
  font-family: "TireSwingBb-Bold", sans-serif;
  font-size: 55px;
  font-weight: 700;
  position: absolute;
  left: 381.94px;
  top: 5736.12px;
  width: 624.1px;
  height: 75.38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.informacionjust {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Bold", sans-serif;
  font-size: 28px;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 180.36px;
  top: 345.88px;
  width: 698.21px;
  height: 237.35px;
}
.por-qu-necesitan-saber-mi-pa-s {
  color: #ffffff;
  text-align: center;
  font-family: "TireSwingBb-Bold", sans-serif;
  font-size: 50px;
  letter-spacing: -0.05em;
  font-weight: 700;
  position: absolute;
  left: 151.62px;
  top: 203.2px;
  width: 774.85px;
  height: 79.83px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenidocaja {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Bold", sans-serif;
  font-size: 28px;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 185.52px;
  top: 811.89px;
  width: 687.9px;
  height: 238.04px;
}
.qu-viene-incluido-en-mi-compra {
  color: #ffffff;
  text-align: center;
  font-family: "TireSwingBb-Bold", sans-serif;
  font-size: 50px;
  letter-spacing: -0.06em;
  font-weight: 700;
  position: absolute;
  left: 180.28px;
  top: 673.74px;
  width: 737.19px;
  height: 80.74px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dinerodonde {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Bold", sans-serif;
  font-size: 28px;
  letter-spacing: 0.03em;
  font-weight: 700;
  position: absolute;
  left: 179.41px;
  top: 1273.8px;
  width: 700.11px;
  height: 86.45px;
}
.a-d-nde-va-mi-dinero {
  color: #ffffff;
  text-align: center;
  font-family: "TireSwingBb-Bold", sans-serif;
  font-size: 50px;
  letter-spacing: -0.05em;
  font-weight: 700;
  position: absolute;
  left: 194.2px;
  top: 1139.93px;
  width: 723.56px;
  height: 80.75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parrafo-3 {
  color: #000000;
  text-align: justified;
  font-family: "-", sans-serif;
  font-size: 32px;
  letter-spacing: 0.06em;
  font-weight: 400;
  position: relative;
  width: 648px;
  height: 291px;
}
.parrafo-3-span {
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
}
.parrafo-3-span2 {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.rectangle-6 {
  background: #753ef4;
  border-radius: 6px;
  width: 456px;
  height: 114px;
  position: absolute;
  left: 744px;
  top: 651px;
}

.rectfooter {
  background: #191919;
  width: 100%;
  height: 397px;
  position: absolute;
  left: 0px;
  top: 8587.49px;
}

.image-2 {
  border-style: solid;
  border-color: #753ef4;
  border-width: 9px;
  width: 208.12px;
  height: 34px;
  position: absolute;
  left:80%;
  top: 8600px;
  object-fit: cover;
}
.frame-19 {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  justify-content: center;
  width: 1062px;
  height: 1664px;
  position: absolute;
  left: 100px;
  top: 844px;
}

.verde {
  align-self: stretch;
  flex-shrink: 0;
  height: 397px;
  position: relative;
  width: 60%;
  left: 20%;
  aspect-ratio: 1062/397;
}

.amarillo {
  align-self: stretch;
  flex-shrink: 0;
  height: 397px;
  position: relative;

  left: 20%;
  width: 60%;
  aspect-ratio: 1062/397;
}
.frame-20 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  width: 1020px;
  height: 1832px;
  position: absolute;
  left: 120px;
  top: 2508px;
}
.imagenes-mango {
  flex-shrink: 0;
  width: 1020px;
  height: 408.2px;
  position: static;
}
.cajasjuego {
  width: 408.2px;
  height: 408.2px;
  position: absolute;
  left: 0px;
  top: 186.4px;
  object-fit: cover;
  aspect-ratio: 1;
}
.juegoensi {
  width: 408.2px;
  height: 333.41px;
  position: absolute;
  left: 611.8px;
  top: 239.79px;
  object-fit: cover;
  aspect-ratio: 408.2/333.41;
}
.textos-mango {
  flex-shrink: 0;
  width: 1012.02px;
  height: 394px;
  position: static;
}

.juegodesplegado {
  flex-shrink: 0;
  width: 806px;
  height: 537px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 806/537;
}
.frame-15 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 812px;
  height: 1112px;
  position: absolute;
  left: 224px;
  top: 7725.49px;
}

.form-desktop {
  align-self: stretch;
  flex-shrink: 0;
  height: 751px;
  position: relative;
}
.rectangle-15 {
  background: #efefef;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}

.group-15 {
  position: absolute;
  inset: 0;
}
.rectangle-152 {
  background: #ffffff;
  border-radius: 6px;
  width: 74.36%;
  height: 9.99%;
  position: absolute;
  right: 11.27%;
  left: 14.38%;
  bottom: 75.1%;
  top: 14.91%;
}
.group-14 {
  position: absolute;
  inset: 0;
}
.rectangle-16 {
  background: #ffffff;
  border-radius: 6px;
  width: 74.46%;
  height: 9.99%;
  position: absolute;
  right: 11.27%;
  left: 14.27%;
  bottom: 50.73%;
  top: 39.28%;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  right: 19.21%;
  left: 16.2%;
  width: 64.59%;
  bottom: 52.46%;
  top: 42.48%;
  height: 5.06%;
}
.group-16 {
  position: absolute;
  inset: 0;
}
.rectangle-17 {
  background: #ffffff;
  border-radius: 6px;
  width: 74.46%;
  height: 9.99%;
  position: absolute;
  right: 11.27%;
  left: 14.27%;
  bottom: 26.36%;
  top: 63.65%;
}
.polygon-5 {
  width: 4.08%;
  height: 4.26%;
  position: absolute;
  right: 12.12%;
  left: 83.8%;
  bottom: 24.9%;
  top: 70.84%;
  overflow: visible;
}
.group-17 {
  position: absolute;
  inset: 0;
}
.rectangle-18 {
  background: #753ef4;
  border-radius: 6px;
  width: 39.38%;
  height: 10.65%;
  position: absolute;
  right: 30.36%;
  left: 30.26%;
  bottom: 6.13%;
  top: 83.22%;
}
.carrusel-deskstop-0 {
  width: 1170px;
  height: 333px;
  position: absolute;
  left: 45px;
  top: 5320px;
  overflow: hidden;
}
.frame-11 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1179px;
  height: 280px;
  position: absolute;
  left: -9px;
  top: -10px;
}
.frame-4 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.img-4285-1 {
  flex-shrink: 0;
  width: 390px;
  height: 260px;
  position: relative;
  object-fit: cover;
}
.frame-5 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.w-1 {
  flex-shrink: 0;
  width: 390px;
  height: 260px;
  position: relative;
  object-fit: cover;
}
.frame-6 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.img-4280-3 {
  flex-shrink: 0;
  width: 390px;
  height: 260px;
  position: relative;
  object-fit: cover;
}
.frame-7 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.img-4282-2 {
  flex-shrink: 0;
  width: 390px;
  height: 260px;
  position: relative;
  object-fit: cover;
}
.frame-8 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.img-4274-2 {
  flex-shrink: 0;
  width: 390px;
  height: 260px;
  position: relative;
  object-fit: cover;
}
.frame-9 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._3-y-4-1024-x-825-1 {
  flex-shrink: 0;
  width: 390px;
  height: 260px;
  position: relative;
  object-fit: cover;
}
.frame-10 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.sfsa-1024-x-678-1 {
  flex-shrink: 0;
  width: 390px;
  height: 260px;
  position: relative;
  object-fit: cover;
}
.group-9 {
  height: auto;
  position: absolute;
  left: 663px;
  top: 284px;
  overflow: visible;
}
.group-10 {
  height: auto;
  position: absolute;
  left: 508px;
  top: 284px;
  transform: translate(-32px, 0px);
  overflow: visible;
}
.titulo-1 {
  position: absolute;
  inset: 0;
  aspect-ratio: 858/129.79;
}
.mango {
  width: 858px;
  height: 129.79px;
  position: absolute;
  left: 206px;
  top: 2435px;
  object-fit: cover;
  aspect-ratio: 858/129.79;
}
.titulo-2 {
  position: absolute;
  inset: 0;
}
.limon {
  width: 846.2px;
  height: 134.75px;
  position: absolute;
  left: 209.8px;
  top: 4270px;
  object-fit: cover;
  aspect-ratio: 846.2/134.75;
}
.titulo-3 {
  position: absolute;
  inset: 0;
}
.melon {
  width: 852px;
  height: 149.24px;
  position: absolute;
  left: 204px;
  top: 5697px;
  object-fit: cover;
  aspect-ratio: 852/149.24;
}
.frame-18 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  width: 1060px;
  height: 1950px;
  position: absolute;
  left: 100px;
  top: 5775.49px;
}
.pregunta-desk-1 {
  flex-shrink: 0;
  width: 931.31px;
  height: 412.88px;
  position: static;
}
.rectangle-7 {
  background: #efefef;
  border-radius: 6px;
  width: 742.92px;
  height: 340.59px;
  position: absolute;
  left: 159.07px;
  top: 242.7px;
}
.group-20 {
  width: 931.31px;
  height: 139.43px;
  position: static;
}
.zanahoria {
  width: 931.31px;
  height: 139.43px;
  position: absolute;
  left: 64.35px;
  top: 170.41px;
  object-fit: cover;
  aspect-ratio: 931.31/139.43;
}

.pregunta-desk-2 {
  flex-shrink: 0;
  width: 925.94px;
  height: 416.64px;
  position: static;
}
.rectangle-9 {
  background: #efefef;
  border-radius: 6px;
  width: 731.95px;
  height: 334.51px;
  position: absolute;
  left: 164.55px;
  top: 715.29px;
}
.group-21 {
  width: 925.94px;
  height: 151px;
  position: static;
}
.tomate {
  width: 925.94px;
  height: 151px;
  position: absolute;
  left: 67.03px;
  top: 633.29px;
  object-fit: cover;
  aspect-ratio: 925.94/151;
}

.pregunta-desk-3 {
  flex-shrink: 0;
  width: 933.83px;
  height: 679.66px;
  position: static;
}
.rectangle-8 {
  background: #efefef;
  border-radius: 6px;
  width: 744.93px;
  height: 622.2px;
  position: absolute;
  left: 155.93px;
  top: 1157.39px;
}
.gr-fico-costes-2 {
  width: 554.2px;
  height: 281.43px;
  position: absolute;
  left: 251.77px;
  top: 1469.1px;
  object-fit: cover;
  aspect-ratio: 554.2/281.43;
}
.group-22 {
  width: 933.83px;
  height: 156.13px;
  position: static;
}
.berenjena {
  width: 933.83px;
  height: 156.13px;
  position: absolute;
  left: 63.08px;
  top: 1099.93px;
  object-fit: cover;
  aspect-ratio: 933.83/156.13;
}
.frame-22 {
  display: flex;
  flex-direction: column;
  gap: 66px;
  align-items: center;
  justify-content: center;
  width: 812px;
  height: 980px;
  position: absolute;
  left: 224px;
  top: 4340px;
}
.cartones-juego {
  flex-shrink: 0;
  width: 453px;
  height: 453px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}

